<div id="what_is_microblading" class="row">
  <div class="col-md-12 text-center">
    <span id="icons" class="glyphicon glyphicon-education" aria-hidden="true"></span>
  </div>
  <h1>What Is Microblading Hair Stroke Technique?</h1>
  <p>Microblading is a method of utilizing Pen & Needles to recreate, correct and improve the appearance of natural brow. This procedure is ideal for both people who have natural brows and those who don’t. The results are natural looking and long lasting. The <span id="underline_text"> Hair Strokes technique</span> is often considered a type of permanent makeup, however, its concept is different: the ink is deposited with manual pen with <span id="underline_text">blade which is 2 times thinner than average human hair</span> and that allows technicians to draw crisp, thin and natural looking hairs. The results often last from 9 to 18 months.</p>
</div>
<div id="what_you_should_do" class="row">
  <div class="col-md-12 text-center">
    <span id="icons" class="glyphicon glyphicon-user" aria-hidden="true"></span>
  </div>
  <h1>Why You Should Do Microblading?</h1>
  <p>Rewards for the job are also outstanding. Microblading sessions range from $500-$2000 depending on location and experience of the technician. It allows for increase earnings of average beautician at least 3 times with minimum hours worked.  The procedures itself is semi-permanent, it allows the beauticians to be able to offer clients with short term convieniences and the benefit of repeat services. </p>
</div>
<div id="what_you_get" class="row">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <span id="icons" class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
    </div>
    <div class="col-xs-18 col-sm-6 col-md-6">
      <h1>What You Get with Our Seminar?</h1>
      <ul>
        <li>In-depth knowledge of the Microblading Hair Stroke Technique</li>
        <li>Hands-on application on both synthetic skins and live model</li>
        <li>$1,600 Professional Microblading Kit is Included</li>
        <li>20% Member discount on all service related products and seminars</li>
        <li>Certificate of Attendance and OutstandingArtist Certificate </li>
      </ul>
    </div>
    <div id="learning_img" class="col-xs-18 col-sm-6 col-md-6">
      <img src="/images/logo/speaker.jpeg" alt="speaker">
    </div>
  </div>
</div>
<div id="est_earnings" class="row">
  <div class="col-md-12 text-center">
    <span id="icons" class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
  </div>
  <h1>Estimated Microblading Earnings</h1>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <p><span class="money">$</span><span class="money" id="tuition">0</span> <br> <span class="text">Tuition</span></p>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
      <p><span class="money">$</span><span class="money" id="cost">0</span> <br> <span class="text">Average Cost of Procedure</span></p>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
      <p><span class="money">$</span><span class="money" id="weekly">0</span> <br> <span class="text">Weekly Income <br> Based on 5 clients per week</span></p>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
      <p><span class="money">$</span><span class="money bold" id="annual">0</span> <br> <span class="text">Annual Income <br> (Tips are not included)</span></p>
    </div>

  </div>

  <p id="foot_note">** all numbers are approximate and may vary depending on clientele, location, marketing and tips are not included</p>
</div>
<div id="seminar_info" class="row">
  <div class="container-fluid">
    <div class="col-md-12 text-center">
      <span id="icons" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </div>
      <h1>Microblading Hair Strokes Seminar</h1>
      <p>
        <span>When & Where: </span>
        <br>
        <p>Every Week - Monday to Wednesday - NYC Lower East Side</p>
      </p>
      <p><span>Duration: </span> 3 Days</p>
      <p><span>Time: </span> 10am - 6 pm</p>
      <p><span>Tuition: </span> $1800</p>
      <p><span>Supplies: </span> Each student will be supply with all necessary supplies and equipments for the duration of the seminar.</p>
      <p><span>Start Kit: </span> Once completed the seminar, each student will be given a Professional Microblading Kit value at $1600, enough to service up 30 clients.</p>
  </div>
</div>
