<div id="whats_new">
  <div id="what_you_should_do" class="row">
    <div class="col-md-12 text-center">
      <span id="icons" class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    </div>
    <h1>FREE <br> Microblading (Hair Stroke Technique) Demonstration!</h1>
    <p>Interested in Microblading? Why not join us for a <span id="bold">FREE</span> demonstration and information at our NYC studio.</p>
    <p>Come take a look why ... SELF & Pinterest made Microblading the <span id="bold">#1 Beauty Triend of 2017!</span></p>
    <p>LIMITED SEATING! Please <a href="tel:929-383-3368" target="_blank"><button type="button" class="btn btn-default btn-sm">Call Us!</button></a> or <a href="mailto:outstandingtrainingcenter@gmail.com" target="_blank"><button type="button" class="btn btn-default btn-sm">Email Us!</button></a> to register!</p>



  </div>
</div>
