// import variables
@import "variables";

#register_today{
  padding: 50px 0;
  background-color: $secondary_background_color;
  color: $grey_font_color;

  h1{
    text-align: center;
    font-size: 2.5em;
    color: $dark_blue_color;
    font-weight: 500;
  }

  h4{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.5em;
  }

  p{
    text-align: center;
  }

  a:hover{
    text-decoration: none;
    border-bottom: 3px solid $light_blue_color;
  }

  #icons{
    font-size: 3.55em;
    padding-bottom: 35px;
  }
  .btn{
    margin-top: 2%;
  }

  #contact_us{
    padding: 50px 50px;
  }

  #call_us{
    // border-top: 5px solid $dark_blue_color;
    .btn {
      border-color: $dark_blue_color;
      width: 250px;
      background-color: $dark_blue_color;
      color: $white_font_color;
      box-shadow: 0 4px 4px -2px #232323;
      -moz-box-shadow: 0 4px 4px -2px #232323;
      -webkit-box-shadow: 0 4px 4px -2px #232323;
      transition: all 2s ease;
    }
    .btn:hover{
      transform: scale(1.1);
    }
  }

  #email_us{
    // border-top: 5px solid $dark_red_color;
    .btn {
      border-color: $dark_red_color;
      width: 250px;
      background-color: $dark_red_color;
      color: $white_font_color;
      box-shadow: 0 4px 4px -2px #232323;
      -moz-box-shadow: 0 4px 4px -2px #232323;
      -webkit-box-shadow: 0 4px 4px -2px #232323;
      transition: all 2s ease;
    }
    .btn:hover{
      transform: scale(1.1);
    }
  }

}



/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  h4 {
    padding: 25px 10px !important;
  }
  #call_us, #email_us{
    .btn{
      width: 150px !important;
    }
    p, a{
      font-size: .75em;
      text-align: center !important;
    }
  }

}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

  h4 {
    padding: 25px 10px !important;
  }
  #call_us, #email_us{
    .btn{
      width: 175px !important;
    }
    p, a{
      font-size: .75em;
      text-align: center !important;
    }
  }

}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

  #call_us, #email_us{
    .btn{
      width: 225px !important;
    }
  }

}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

  h4 {
    padding: 25px 10px !important;
  }

}
// Tablets
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

  #contact_info{
    margin-top: 50px;
  }

}
/* Mobile & Tablet @media imports - ends */
