// import variables
@import "variables";

// index landing page
#index{
  margin-top: 60px;
  color: $grey_font_color;

  h3{
    margin:0 auto;
    background-color: $main_background_color;
    z-index:0;
    text-align:center;
    font-size:4em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $main_font_color;
    opacity:0.7;
  }

  #underline_text{
    color: $dark_blue_color;
    font-weight: bolder;
    font-size: 1em;
  }
  .row{
    h1, p{
      text-align: center;
      padding: 0 10%;
      font-family: "Raleway", Arial, Tahoma, sans-serif;
    }
    h1{
      font-size: 2.5em;
      padding-bottom: 15px;
    }
    p{
      font-size: 1.15em;
    }
    span{
      text-align: center;
      font-size: .55em;
    }
    .money{
      font-size: 1.75em;
      color: #216C2A;
    }

    .bold{
      font-weight: bold;
    }

    #text{
      font-size: .75em;
    }
    #icons{
      font-size: 3.55em;
      padding-bottom: 35px;
    }
    ul{
      list-style-image: url("/images/logo/red_heart.png");
    }
    #learning_img{
      padding: 0;
      margin: 0;
      img{
        width: 100%;
        height: auto;
      }
    }
  }

  #what_is_microblading, #what_you_should_do, #what_you_get, #est_earnings, #what_you_will_learn, #seminar_info{
    padding: 50px 0;
  }

  #what_is_microblading{

  }

  #what_you_should_do{
    background-color: $secondary_background_color;
  }

  #what_you_get{

  }

  #est_earnings{
    background-image: url("/images/carousel/cut.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white_font_color;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    h1{
      padding-bottom: 5%;
    }
    p{
      font-size: 2em;
      padding-bottom: 5%;
    }
    #foot_note{
      font-size: 1em;
    }
  }

  #what_you_will_learn{

  }
  #seminar_info{
    span{
      font-size: 1em;
      font-weight: bold;
    }
  }
}


/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #index{
    .row{
      h1{
        font-size: 2em;
      }
      p{
        font-size: .9em;
      }
      .money{
        font-size: 1.1em;
      }
      #text{
        font-size: .5em;
      }
    }
  }
}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #index{
    .row{
      h1{
        font-size: 2em;
      }
      p{
        font-size: .9em;
      }
      .money{
        font-size: 1.1em;
      }
      #text{
        font-size: .5em;
      }
    }
  }
}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #index{
    .row{
      h1{
        font-size: 2.25em;
      }
      p{
        font-size: 1.25em;
      }
      .money{
        font-size: 1.4em;
      }
      #text{
        font-size: .5em;
      }
    }
  }
}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #index{
    .row{
      h1{
        font-size: 2.25em;
      }
      p{
        font-size: 1.25em;
      }
      .money{
        font-size: 1.4em;
      }
      #text{
        font-size: .5em;
      }
    }
  }
}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #index{
    .row{
      h1{
        font-size: 2.25em;
      }
      p{
        font-size: 1.25em;
      }
      .money{
        font-size: 1.4em;
      }
      #text{
        font-size: .5em;
      }
    }
  }
}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

}
/* Mobile & Tablet @media imports - ends */
