// import variables
@import "variables";

#price_list{
  height: 70vh;
  padding-top: 60px;

  h1, h4 {
    text-align: center;
  }
  .btn-group{
    margin-top: 25px;
  }
  .center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
  }

}


/* Mobile & Tablet @media imports - starts */
// iPhone 4
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #price_list{
    padding-top: 90px !important;
  }
}
// iPhone 5 & 5S
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #price_list{
    padding-top: 90px !important;
  }
}
// iPhone 6 & 6S
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #price_list{
    padding-top: 90px !important;
  }
}
// iPhone 6plus
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #price_list{
    padding-top: 90px !important;
  }
}
// Tablets
@media only screen and (min-device-width: 736px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #price_list{
    height: 78vh;
    padding-top: 120px !important;
  }
}
// Tablets - iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  #price_list{
    height: 83vh;
    padding-top: 120px !important;
  }
}
/* Mobile & Tablet @media imports - ends */
