<% layout('main') -%>

<div id="error404">
  <div class="container">
    <img class="img-responsive center-block" src="/images/404.png" alt="404">
    <p id="title">Ooops, looks like a ghost!</p>
    <p id="contents">The page you are looking for can't be found.  Go home by <a href="/">clicking here!</a></p>
  </div>
</div>
