<% layout('main') -%>

<div id="index" class="container-fluid">

  <!-- Carousel Partials -->
  <%- include ../partials/carousel %>

  <!-- Carousel Partials -->
  <%- include ../partials/whats_new %>

  <!-- Microblading Partials -->
  <%- include ../partials/microblading %>

  <!-- Register Partials -->
  <%- include ../partials/register %>

</div>
