<% layout('main') -%>

<div id="index" class="container-fluid">

  <!-- Carousel Partials -->
  <%- include ../partials/carousel %>

  <div id="what_is_microblading" class="row">
    <div class="col-md-12 text-center">
      <span id="icons" class="glyphicon glyphicon-education" aria-hidden="true"></span>
    </div>
    <h1>What Is Microblading?</h1>
    <p>Microblading is a relatively new, manual method that allows to recreate, correct and improve the appearance of natural brow. This procedure is ideal for both people who have natural brows and those who don’t. The results are natural looking and long lasting. Microblading procedure is often considered a type of permanent makeup, however, its concept is different: the ink is deposited with manual pen the blade of which is 3 times thinner and that allows technicians to draw crisp, thin and natural looking hairs. The results often last from 9 to 18 months.</p>
  </div>
  <div id="what_you_should_do" class="row">
    <div class="col-md-12 text-center">
      <span id="icons" class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
    <h1>Why You Should Do Microblading?</h1>
    <p>Beauticians who strive for perfection in their job. Since the procedure is semi-permanent, it requires extra attention in every step of it from drawing of the shape to applying hair strokes. However, rewards for the job are also outstanding. Microblading sessions range from $500-$2000 depending on location and experience of the technician. Therefore, it allows to increase earnings of average beautician at least 3 times with minimum hours worked. There is no requirement to purchase any expensive machines as you would for permanent makeup and a Professional Deluxe Microblading Kit for approximately 50 clients will be provided to you during the class.</p>
  </div>
  <div id="what_you_get" class="row">
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <span id="icons" class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h1>What You Get with Our Seminar?</h1>
        <ul>
          <li>In-depth coverage of every step of the procedure</li>
          <li>Practice on both artificial skin and live models</li>
          <li>$1,600 Professional Microblading Kit Included</li>
          <li>6 months of support to help you perfect your skills</li>
          <li>Certificate of Attendance and OutstandingArtist Certificate </li>
        </ul>
      </div>
      <div id="learning_img" class="col-xs-12 col-sm-6 col-md-6">
        <img src="/images/logo/speaker.jpeg" alt="speaker">
      </div>
    </div>
  </div>
  <div id="est_earnings" class="row">
    <div class="col-md-12 text-center">
      <span id="icons" class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
    </div>
    <h1>Estimated Microblading Earnings</h1>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <p><span class="money">$</span><span class="money" id="tuition">0</span> <br> <span class="text">Tuition</span></p>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6">
        <p><span class="money">$</span><span class="money" id="cost">0</span> <br> <span class="text">Average Cost of Procedure</span></p>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6">
        <p><span class="money">$</span><span class="money" id="weekly">0</span> <br> <span class="text">Weekly Income <br> Based on 5 clients per week</span></p>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6">
        <p><span class="money">$</span><span class="money bold" id="annual">0</span> <br> <span class="text">Annual Income <br> (Tips are not included)</span></p>
      </div>

    </div>

    <p id="foot_note">** all numbers are approximate and may vary depending on clientele, location, marketing and tips are not included</p>
  </div>
  <div id="seminar_info" class="row">
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <span id="icons" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </div>
        <h1>Microblading 3 Days Seminar</h1>
        <p>
          <span>When & Where: </span>
          <br>
          <p>Every Week - Monday to Wednesday - NYC Lower East Side</p>
        </p>
        <p><span>Duration: </span> 3 Days</p>
        <p><span>Time: </span> 10am - 6 pm</p>
        <p><span>Investment/Price: </span> $1800</p>
        <p><span>Supplies: </span> Each student will be supply with all necessary supplies and equipments for the duration of the seminar.</p>
        <p><span>Start Kit: </span> Once completed the seminar, each student will be given a complimentary Microblading start kit value at $1600, enough to service more than 30 clients.</p>
    </div>
  </div>
  <div id="what_you_will_learn" class="row">
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <span id="icons" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h1>What You Will Learn?</h1>
        <ul>
          <li>Microblading Hair Stroking Method</li>
          <li>Safety and sterilization</li>
          <li>Skin structure and natural regeneration</li>
          <li>How to create brow shapes based on the person’s facial structure</li>
          <li>Mixing colors to match client’s natural hairs</li>
          <li>Tools and products used during procedure</li>
          <li>Designing new brow and multiple techniques</li>
          <li>Various methods of drawing schemes</li>
          <li>Customizing hair strokes for every client</li>
        </ul>
      </div>
      <div id="learning_img" class="col-xs-12 col-sm-6 col-md-6">
        <img src="/images/logo/learning.png" alt="learning">
      </div>
    </div>
  </div>

  <!-- Register Partials -->
  <%- include ../partials/register %>

</div>
