<% layout('main') -%>

<div id="price_list">
  <h1>Outstanding Training Center</h1>
  <h4>To download the most current price list, please click on the button below</h4>
  <div class="btn-group center-block" role="group">
    <a href="/images/pdf/OIBS_Catalog_2017.pdf" download>
      <button type="button" class="btn btn-default center-block">Download Current Price List</button>
    </a>
  </div>
</div>
