<% layout('main') -%>

<div id="pricing">
  <h1>A <span id="underline">better way</span> to learn!</h1>
  <h4>With the emphasis on Education, our goal is give each every one of our members the best tools and educations for a successful career as a permanent makeup artist.</h4>
  <div class="container-fluid">

    <div class="row" id="price_list">
      <div id="hairstrokes" class="col-xs-12 col-sm-4">
        <p class="class_type">Basic</p>
        <h3>Hair Strokes</h3>
        <p class="seminar_price"> <span class="dollar_sign">$</span>1800</p>
        <p class="seminar_length">
          <span id="title">Three Days Seminar</span><br> Theories & Practicals
        </p>
        <p class="seminar_model">
          <span id="title">Live Model</span> <br> Hands-on
        </p>
        <p class="seminar_extras">
          <span id="title">Lips, Eyeliner & Powdered</span> <br> 4th Day Advanced Class intro
        </p>
        <p class="seminar_starterkit">
          <span id="title">Starter Kit</span> <br> Retail values: $1800
        </p>
        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Register Today</button></a>
        </div>
      </div>

      <div id="lips" class="col-xs-12 col-sm-4">
        <p class="class_type">Advanced</p>
        <h3>Lips</h3>
        <p class="seminar_price"> <span class="dollar_sign">$</span>1000</p>
        <p class="seminar_length">
          <span id="title">One Day Seminar</span> <br> Theories & Practicals
        </p>
        <p class="seminar_model">
          <span id="title">Live Model</span> <br> Hands-on
        </p>
        <p class="seminar_equipment">Mechanical Pen</p>
        <p class="seminar_starterkit">
          <span id="title">Starter Kit</span> <br> Retail values: $1000
        </p>
        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Register Today</button></a>
        </div>
      </div>

      <div id="eyeliner" class="col-xs-12 col-sm-4">
        <p class="class_type">Advanced</p>
        <h3>Eyeliner</h3>
        <p class="seminar_price"> <span class="dollar_sign">$</span>1000</p>
        <p class="seminar_length">
          <span id="title">One Day Seminar</span> <br> Theories & Practicals
        </p>
        <p class="seminar_model">
          <span id="title">Live Model</span> <br> Hands-on
        </p>
        <p class="seminar_equipment">Mechanical Pen</p>
        <p class="seminar_starterkit">
          <span id="title">Starter Kit</span> <br> Retail values: $1000
        </p>
        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Register Today</button></a>
        </div>
      </div>
    </div>

    <h4>Exclusive 20% OFF all Products & Seminars, attend a seminar and become a member today!</h4>

    <div class="row" id="price_list">
      <div id="areola" class="col-xs-12 col-sm-4">
        <p class="class_type">Advanced</p>
        <h3>Areola</h3>
        <p class="seminar_price"> <span class="dollar_sign">$</span>1000</p>
        <p class="seminar_length">
          <span id="title">Three Days Seminar</span><br> Theories & Practicals
        </p>
        <p class="seminar_model">
          <span id="title">Live Model</span> <br> Hands-on
        </p>
        <p class="seminar_equipment">Areola Pen</p>
        <p class="seminar_starterkit">
          <span id="title">Starter Kit</span> <br> Retail values: $650
        </p>
        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Register Today</button></a>
        </div>
      </div>

      <div id="hairline" class="col-xs-12 col-sm-4">
        <p class="class_type">Advanced</p>
        <h3>Hairline</h3>
        <p class="seminar_price"> <span class="dollar_sign">$</span>1000</p>
        <p class="seminar_length">
          <span id="title">One Day Seminar</span> <br> Theories & Practicals
        </p>
        <p class="seminar_model">
          <span id="title">Live Model</span> <br> Hands-on
        </p>
        <p class="seminar_equipment">Hairline Pen</p>
        <p class="seminar_starterkit">
          <span id="title">Starter Kit</span> <br> Retail values: $650
        </p>
        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Register Today</button></a>
        </div>
      </div>

      <div id="powdered" class="col-xs-12 col-sm-4">
        <p class="class_type">Advanced</p>
        <h3>Powdered</h3>
        <p class="seminar_price"> <span class="dollar_sign">$</span>1000</p>
        <p class="seminar_length">
          <span id="title">One Day Seminar</span> <br> Theories & Practicals
        </p>
        <p class="seminar_model">
          <span id="title">Live Model</span> <br> Hands-on
        </p>
        <p class="seminar_equipment">Powdered Pen</p>
        <p class="seminar_starterkit">
          <span id="title">Starter Kit</span> <br> Retail values: $650
        </p>
        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Register Today</button></a>
        </div>
      </div>
    </div>

  </div>
  <!-- Register Partials -->
  <%- include ../partials/register %>
</div>
