<% layout('main') -%>

<div id="seminars">
  <h1><a href="http://www.self.com/gallery/pinterest-beauty-trends-2017?mbid=social_facebook" target="_blank">Microblading #1 Beauty Trends In 2017 - SELF</a></h1>

  <h3>It's Never Too Late to Learn Something New ... Why not start with #1 Beauty Trends for 2017!</h3>


  <div class="container-fluid">

    <div class="row" id="seminars_list">
      <div id="hairstrokes" class="col-xs-12 col-sm-6 col-md-6">
        <p>Microblading</p>
        <p>Basic</p>
        <h4>Hair Strokes Technique</h4>
        <p id="seminar_text">The Hair Strokes Technique is often considered a type of permanent makeup, however, its concept is different: the ink is deposited with manual pen with blade which is 2 times thinner than average human hair and that allows technicians to draw crisp, thin and natural looking hairs.</p>

        <div id="seminar_img">
          <img src="/images/seminars/seminar_pics.png" alt="pics">
        </div>

        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Click Here For More Info</button></a>
        </div>

      </div>
      <div id="powdered" class="col-xs-12 col-sm-6 col-md-6">
        <p>Microblading</p>
        <p>Advanced</p>
        <h4>Powdered Fill</h4>
        <p id="seminar_text">The Powdered fill method involves the application of thousands of tiny little dots of pigment, inserted into the skin, gradually building up a colour and a defined shape.  Hair Strokes method can be done on top of the Powered method for definitions.</p>

        <div id="seminar_img">
          <img src="/images/seminars/seminar_pics.png" alt="pics">
        </div>

        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Click Here For More Info</button></a>
        </div>

      </div>

    </div>

    <div class="row" id="seminars_list">
      <div id="lips" class="col-xs-12 col-sm-6 col-md-6">
        <p>Permanent Makeup</p>
        <p>Advanced</p>
        <h4>Lips Pigmentation</h4>
        <p id="seminar_text">The Lip tattoos are designed to define lips, not to create volume or puffiness, it will give you the appearance of a full lip.  Pigmentations can be inserted to obtain more natural lip color or more vibrant colors, retouch time frame varies depend on the desired colors.</p>

        <div id="seminar_img">
          <img src="/images/seminars/seminar_pics.png" alt="pics">
        </div>

        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Click Here For More Info</button></a>
        </div>

      </div>
      <div id="eyeliner" class="col-xs-12 col-sm-6 col-md-6">
        <p>Permanent Makeup</p>
        <p>Advanced</p>
        <h4>Eyeliner Makeup</h4>
        <p id="seminar_text">Permanent eyeliner is placed in the lash line, which enhances and defines the beauty of the eyes.  The technique is a very natural look and will make lashes appear thicker when not wearing mascara.  It opens the eyes and makes them "pop"</p>

        <div id="seminar_img">
          <img src="/images/seminars/seminar_pics.png" alt="pics">
        </div>

        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Click Here For More Info</button></a>
        </div>

      </div>
    </div>

    <div class="row" id="seminars_list">
      <div id="hairline" class="col-xs-12 col-sm-6 col-md-6">
        <p>Permanent Makeup</p>
        <p>Advanced</p>
        <h4>Hairline Pigmentation</h4>
        <p id="seminar_text">Hairline pigmentation technique helps re-create hairline stroke by stroke, rebuilding hairline, creating the appearance of volume, reclaiming what has been lost and giving the effect of lush, healthy hair.</p>

        <div id="seminar_img">
          <img src="/images/seminars/seminar_pics.png" alt="pics">
        </div>

        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Click Here For More Info</button></a>
        </div>

      </div>
      <div id="areola" class="col-xs-12 col-sm-6 col-md-6">
        <p>Permanent Makeup</p>
        <p>Advanced</p>
        <h4>Areola Repigmentation</h4>
        <p id="seminar_text">The Areola repigmentation is an advanced procedure corrects the color, size and shape of the nipple.  This procedures can use pigments and tints to create an illusion of nipple protrusion with a realistic areola on a breast mound without surgery.</p>

        <div id="seminar_img">
          <img src="/images/seminars/seminar_pics.png" alt="pics">
        </div>

        <div class="col-md-12 text-center">
          <a href="/contact"><button type="button" class="btn btn-default btn-lg">Click Here For More Info</button></a>
        </div>

      </div>
    </div>
  </div>

</div>
